<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rule Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Rule Engine With AST</h1>
        
        <h2>Create Rule</h2>
        <p>Use LowerCase 'and' / 'or'</p>
        <input type="text" id="ruleInput" placeholder="Enter your rule (e.g. age > 30)">
        <button onclick="createRule()">Create Rule</button>

        <h2>Combine Rules</h2>
        <p>Use ',' between two rules</p>
        <input type="text" id="combineInput" placeholder="Enter rules separated by commas">
        <button onclick="combineRules()">Combine Rules</button>

        <h2>Evaluate Rules</h2>
        <textarea id="userData" placeholder='Enter user data as JSON (e.g., {"age": 35, "department": "Sales", "salary": 60000, "experience": 3})'></textarea>
        <button onclick="evaluateRule()">Evaluate Rules</button>

        <h3>Results</h3>
        <pre id="result"></pre>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
